*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --colortitle: #13183f;
  --colortext: #83869a;
  --degradado: linear-gradient(#f02aa6, #ff6f48);
  --sizetitle: 46px;
  --sizetext: 18px;
  --sizesubtitle: 24px;
  --boxradius: 30px;
  --iconradius: 50%;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  background-image: linear-gradient(white, #f0f1ff);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;

    margin-left: 8rem;
  }
}

.logo {
  position: absolute;
  margin-top: 0.5rem;
  width: 6rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60%;
  background-color: var(--colortitle);
  color: white;
  border-radius: var(--boxradius);
  height: 2.7rem;
  width: 9rem;
  font-size: var(--sizetext);
}

@media screen and (min-width: 768px) {
  .button {
    position: absolute;
  }
}

.title {
  color: var(--colortitle);
  font-size: var(--sizetitle);
}

.portal {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .portal {
    width: 69%;
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .portal {
    width: 30%;
    margin-top: 5rem;
  }
}

.subtitle {
  color: var(--colortext);
  margin-top: -0.2rem;
}

.photo {
}

@media screen and (min-width: 768px) {
  .photo {
    margin-top: 4rem;
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  .photo {
    width: 35%;
    margin-left: 15%;
  }
}

.button--gta {
  background-image: var(--degradado);
  margin-left: 0;
}

.button--gta:hover {
  color: rgb(200, 255, 0);
}

@media screen and (min-width: 768px) {
  .button--gta {
    margin-top: 15rem;
  }
}

@media screen and (min-width: 1024px) {
  .button--gta {
    margin-top: 16rem;
  }
}

.cards {
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 46.5% 46.5%;
    grid-template-rows: 300px 300px 300px;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .cards {
    grid-template-columns: 27% 27% 27%;
    grid-template-rows: 300px 300px;
    margin-left: 7.5rem;
  }
}

.card {
  height: 259px;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1rem;
}

.card--gradient {
  background-image: var(--degradado);
  align-items: center;
  justify-content: center;
  font-size: var(--sizetext);
  color: white;
  font-weight: bold;
  height: 5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .card--gradient {
    height: 259px;
    font-size: var(--sizetitle);
  }
}

.card__icon {
  position: relative;
  margin-top: -2rem;
  width: 3rem;
}

.card__name {
  font-size: var(--sizesubtitle);
  color: var(--colortitle);
}

.card__description {
  font-size: var(--sizetext);
  color: var(--colortext);
}

.card__link {
  color: #ff6f48;
  font-weight: bolder;
  font-size: var(--sizetext);
  margin-top: 0.5rem;
}

.card__link:hover {
  color: var(--colortext);
}

.footer {
  padding: 1rem;
  background-color: var(--colortitle);
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 4.5rem;
    padding-left: 8.5rem;
  }
}

.button--gradient {
  background-image: linear-gradient(#4851ff, #f02aa6);
}
